.background-logo{
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    background-size: contain;
}

.logo{
    width: 200px;
    margin-top: 50px;
}

.photo-caption{
    font-size: 75%;
    margin: 0;
}

.list{
    padding: 20px;
}

.table-1{
    text-align: left;
    border-collapse: collapse;
}

.table-header{
    background-color: #20a9e5;
    color: #ffffff;
}

td{
    padding: 20px 50px 20px 0px;
}

.body-odd{
    background-color: #b1e5f2;
}